In [ ]:

table1 =int(input("Enter your table No First:"))
table2 =int(input("Enter your table No second:"))
print("OUTPUT ONE")
for i in range(table1 , table2+1):
  for j in range(1,11):
    print(j,"*",i,"=",j*i)
  print("\n")

In [7]:
# output two
table1 =int(input("Enter your table No First:"))
table2 =int(input("Enter your table No second:"))

print("OUTPUT TWO")
for i in range(table1 , table2):
  for j in range(1,11):
    print(i,"*",j,"=",j*i,"\t", i+1,"*",j,"=",j*(i+1),"\t", i+2,"*",j,"=",j*(i+2),"\t",i+3,"*",j,"=",j*(i+3),"\t",i+4,"*",j,"=",j*(i+4),"\t",i+5,"*",j,"=",j*(i+5) )
  break

Enter your table No First:5
Enter your table No second:10
OUTPUT TWO
5 * 1 = 5 	 6 * 1 = 6 	 7 * 1 = 7 	 8 * 1 = 8 	 9 * 1 = 9 	 10 * 1 = 10
5 * 2 = 10 	 6 * 2 = 12 	 7 * 2 = 14 	 8 * 2 = 16 	 9 * 2 = 18 	 10 * 2 = 20
5 * 3 = 15 	 6 * 3 = 18 	 7 * 3 = 21 	 8 * 3 = 24 	 9 * 3 = 27 	 10 * 3 = 30
5 * 4 = 20 	 6 * 4 = 24 	 7 * 4 = 28 	 8 * 4 = 32 	 9 * 4 = 36 	 10 * 4 = 40
5 * 5 = 25 	 6 * 5 = 30 	 7 * 5 = 35 	 8 * 5 = 40 	 9 * 5 = 45 	 10 * 5 = 50
5 * 6 = 30 	 6 * 6 = 36 	 7 * 6 = 42 	 8 * 6 = 48 	 9 * 6 = 54 	 10 * 6 = 60
5 * 7 = 35 	 6 * 7 = 42 	 7 * 7 = 49 	 8 * 7 = 56 	 9 * 7 = 63 	 10 * 7 = 70
5 * 8 = 40 	 6 * 8 = 48 	 7 * 8 = 56 	 8 * 8 = 64 	 9 * 8 = 72 	 10 * 8 = 80
5 * 9 = 45 	 6 * 9 = 54 	 7 * 9 = 63 	 8 * 9 = 72 	 9 * 9 = 81 	 10 * 9 = 90
5 * 10 = 50 	 6 * 10 = 60 	 7 * 10 = 70 	 8 * 10 = 80 	 9 * 10 = 90 	 10 * 10 = 100